page-compte {
  .scroll-content {
    background-color: #fafafa;
    padding: 0 !important;
  }
  ion-navbar {
    .toolbar-title {
      font-weight: bold;
      color: #333;
    }
    span {
      color: #999;
      margin: 0 12px;
    }
  }
  .list {
    margin: 20px 0;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    ion-icon {
      color: #999;
    }
    .item-inner {
      margin-left: 5px;
    }
  }
}
