<ion-header>
  <ion-navbar color="primary" class="restos-navbar">
    <button ion-button large class="butn-search" (click)="openLocation()">
      <ion-icon ios="md-pin" md="md-pin"></ion-icon>
      Lieu sélectionné
    </button>
    <button ion-button large class="butn-time" (click)="openTimer()">
      <ion-icon ios="md-time" md="md-time"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="none" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card
    *ngFor="let resto of restaurants"
    margin-top
    (click)="goToRestoPage(resto)"
  >
    <div class="card-image"><img src="{{resto.image}}" /></div>
    <ion-card-content no-padding>
      <ion-card-title> {{ resto.name }} </ion-card-title>
      <div class="resto-infos" margin-bottom>
        <ion-icon ios="md-happy" md="md-happy" color="primary"> </ion-icon>
        <span class="likes">{{ resto.likes }}%</span> •
        <span class="rating">
          <span *ngIf="resto.generalcost > 0">€</span>
          <span *ngIf="resto.generalcost > 1">€</span>
          <span *ngIf="resto.generalcost > 2">€</span> </span
        >&nbsp;• {{ resto.type }}
        <p>
          {{ resto.prixLivraison }} € de livraison • {{ resto.minOrder }} €
          minimum
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
