page-recherche {
  ion-header {
    box-shadow: none !important;
    border: none;
    .search-navbar {
      padding: 10px 18px !important;
      .toolbar-content {
        .list {
          margin: 0;
          .item {
            border-radius: 4px;
          }
        }
      }
    }
  }
  ion-content {
    ion-list {
      ion-item {
        padding: 0 !important;
      }
      ion-avatar {
        overflow: hidden;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        text-align: center;
        img {
          height: 100%;
          max-width: none !important;
          width: auto !important;
          border-radius: 0 !important;
        }
      }
    }
  }
}
